.venntooltip {
	position: absolute;
    text-align: center;
    background: #333;
    color: #ddd;
    padding: 2px;
    border: 0px;
	border-radius: 8px;
	z-index: 100;
}

.undisplayedAreasDiv {
    position: absolute;
    top: 34px;
    left: 10px;
    max-width: 200px;
    overflow: auto;
}